<%= fields_for dmp do |d| %>
  <%= d.label :description, 'Summary' %>
  <%= d.text_area :description %>
  <%= d.label :language %>
  <%= d.select :language, %w[en es de fr] %>
  <%= d.label :ethical_issues, 'Are there any ethical issue(s)?' %>
  <%= d.select :ethical_issues, %w[yes no], { include_blank: 'unknown' } %>
  <div class="ethical-considerations">
    <%= d.label :ethical_issues_report, 'Link to your ethical policy' %>
    <%= d.url_field :ethical_issues_report %>
    <%= d.label :ethical_issues_description, 'Please describe the issue(s)' %>
    <%= d.text_area :ethical_issues_description %>
  </div>

  <h3>Primary contact</h3>
  <%= render partial: 'persons/form',
             locals: {
               rel: 'primary_contact',
               person_data_management_plan: PersonDataManagementPlan.new(role: 'primary_contact')
             } %>

  <h3>Other contacts</h3>
  <%= render partial: 'persons/index', locals: { persons: dmp.person_data_management_plans } %>
  <%= render partial: 'persons/form',
             locals: {
               rel: 'author',
               person_data_management_plan: PersonDataManagementPlan.new
             } %>
<% end %>

<script type="text/javascript">
  var ethicalIssues = document.getElementById('data_management_plan_ethical_issues');
  var ethicalDetails = document.getElementsByClassName('ethical-considerations')[0];

  var toggleEthics = () => {
    ethicalDetails.style.display = (ethicalIssues.options[ethicalIssues.selectedIndex].value == 'yes' ? 'block' : 'none');
  };

  ethicalIssues.addEventListener('click', toggleEthics);
  ethicalIssues.addEventListener('keydown', toggleEthics);

  document.addEventListener('DOMContentLoaded', () => {
    toggleEthics();
  }, false);
</script>

<hr>
