<%# locals: form, data_management_plan %>

<%= form.label :description, 'Summary', class: 'textarea' %>
<%= form.text_area :description %>
<%= form.label :language %>
<%= form.select :language, %w[en es de fr] %>

<%= form.check_box :ethical_issues %>
<%= form.label :ethical_issues, 'Any ethical concerns?' %>
<div id="component-id" class="c-fieldgroup" role="group" aria-labelledby="checkbox-id">
  <%= form.label :ethical_issues_description, 'Please describe', class: 'textarea' %>
  <%= form.text_area :ethical_issues_description %>
  <%= form.label :ethical_issues_report, 'Report' %>
  <%= form.url_field :ethical_issues_report %>
</div>

<div id="primary-id" class="c-fieldgroup" aria-labelledby="primary-fieldgroup-label"
     role="group">
  <span id="primary-fieldgroup-label" class="c-fieldgroup__label">Primary Contact</span>
  <%= fields_for :contact do |c| %>
    <%= c.label :name, class: 'required' %>
    <%= c.text_field :name, value: current_user.name %>
    <%= c.label :email, class: 'required' %>
    <%= c.email_field :email, value: current_user.email %>
    <%= c.label :value, 'ORCID' %>
    <%= link_to "https://orcid.org/#{current_user.orcid}", class: "c-orcid required" %>
    <%= c.hidden_field :value, value: current_user.orcid %>
  <% end %>
</div>

<h3>Other Staff</h3>
<div class="dm-staff-list">
  <%= button_tag 'Add', class: 'e-button2', aria: { label: 'Add a staff member' } %>
  <div class="association-template t-step__fields">
    <%= render partial: 'person_data_management_plans/form', locals: { form: form } %>
  </div>
</div>
