<h1>Register a Data Management Plan</h1>

<%= form_with model: @dmp, url: data_management_plan_index_path do |f| %>

  <h2>Project (+/-)</h2>
  <p>Tell us about your research project:</p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= render partial: '/projects/form', locals: { f: f } %>

  <h2>Data management plan (+/-)</h2>
  <p>Describe the plan for managing your project's research outputs:</p>
  <%= render partial: '/data_management_plan/form',
             locals: { f: f, dmp: @dmp } %>

  <%= f.submit 'Register your plan' %>
<% end %>
