<%# locals: distributions %>

<% if distributions.any? %>
  <details>
    <summary>Distributions</summary>

    <div class="c-accordion__section">
      <% distributions.each do |distribution| %>
        <h5><%= distribution.title %></h5>

        <ul>
          <li><strong>Summary:</strong> <%= distribution.description %></li>
          <li><strong>Format:</strong> <%= distribution.format %></li>
          <li><strong>Byte Size:</strong> <%= distribution.byte_size %></li>
          <li><strong>Data Access:</strong> <%= distribution.data_access %></li>
          <li><strong>Available Until:</strong> <%= safe_date(date: distribution.available_until) %></li>
          <li><strong>Access URL:</strong> <%= identifier_to_link(identifier: distribution.access_url) %></li>
          <li><strong>Download URL:</strong> <%= identifier_to_link(identifier: distribution.download_url) %></li>
        </ul>

        <%= render partial: 'landing/host', locals: { host: distribution.host } %>
        <%= render partial: 'landing/licenses', locals: { host: distribution.licenses } %>
      <% end %>
    </div>
  </details>
<% end %>
