<%# locals: dmp %>

<%
dmptool_url = Rails.env.production? ? 'dmptool.org' : (Rails.env.stage? ? 'dmptool-stg.cdlib.org' : 'dmptool-dev.cdlib.org')
base_message = 'This page represents key information from a data management plan'
narrative_url = LandingPresenter.narrative_url(data_management_plan: dmp)

primary_funder = LandingPresenter.primary_funder(data_management_plan: dmp)
primary_org = LandingPresenter.primary_institution(data_management_plan: dmp)

org_link = identifier_to_link(identifier: primary_org.rors.last, text: primary_org.name) if primary_org.present?
org_link = identifier_to_link(identifier: primary_funder.fundrefs.last, text: primary_funder.name) if org_link.nil?
%>

<div class="t-step__landing-header">
  <div class="dmptool-logo">
    <a href="https://<%= dmptool_url %>" title="DMPTool homepage"><%= image_tag('dmptool_logo_u166.svg', alt: 'DMPTool logo') %></a>
  </div>
  <div class="dmp-menu">
    <ul>
      <li><strong>DMP ID:</strong> <%= dmp.doi_without_prefix&.gsub('doi:', '') %></li>
      <li><strong>Version:</strong> <%= version_date(dmp: dmp) %></li>
    </ul>
  </div>
</div>
<div class="t-step__landing-title">
  <div class="dmp-title">
    <p>This page describes a data management plan written for the <%= org_link %> using the <a href="https://<%= dmptool_url %>" title="DMPTool homepage">DMPTool</a>.</p>
    <h1><%= dmp.title %></h1>
  </div>
  <% if narrative_url.present? && dmp.source_privacy == 'open' %>
    <div class="dmp-pdf">
      <%
      # Temporary hack until we can get the PDF download working
      url = narrative_url.value.gsub("api/v2/", "")
                              .gsub(".pdf", "/export.pdf?export[question_headings]=true")
      %>
      <a href="<%= url %>" target="_blank">
        <%= image_tag('u153.svg', alt: 'PDF icon', aria: { hidden: true }) %>
      </a>
      <a href="<%= url %>" target="_blank">
        Read the data management plan
      </a>
    </div>
  <% end %>
</div>
