<%# locals: form, dataset %>

<div class="t-step__fields">
  <%= form.label :dataset_type, 'Type' %>
  <%= form.select :dataset_type, Dataset.dataset_types.keys %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :description, 'Description' %>
  <%= form.text_area :description %>
  <%= form.label :language %>
  <%= form.select :language, %w[en es de fr] %>
  <%= form.label :publication_date, 'Anticipated publication date' %>
  <%= form.date_field :publication_date %>
  <%= form.check_box :personal_data %>
  <%= form.label :personal_data, 'Contains personal data?' %>
  <%= form.check_box :sensitive_data %>
  <%= form.label :sensitive_data, 'Contains sensitive data?' %>

  <!-- TODO: Swap this short-form version of the Distributions, Tech Resources, and
             metdata out with the more in-depth forms below -->
  <%= form.label :host %>
  <%= form.text_field :host %>
  <%= form.label :keywords %>
  <%= form.text_field :keywords, value: dataset.keywords.collect { |k| k.value }, placeholder: 'Genome, Feline', title: 'Use a comma to separate keywords' %>

  <%= form.button 'X', class: 'remove-association', type: 'button' %>
<!--
  <div style="display: flex; justify-content: space-between;">
    <div class="dataset-overview" style="border: 1px solid black;">
      <h3>Overview</h3>
      <%#= render partial: 'datasets/overview_form',
                 locals: { form: form, dataset: dataset } %>
    </div>
    <div class="dataset-security" style="border: 1px solid black;">
      <h3>Security and privacy</h3>
      <%#= render partial: 'security_privacy_statements/index',
                 locals: { statements: dataset.security_privacy_statements } %>
      <%#= render partial: 'security_privacy_statements/form',
                 locals: { statement: SecurityPrivacyStatement.new } %>
    </div>
    <div class="dataset-tech" style="border: 1px solid black;">
      <h3>Technical resources</h3>
      <%#= render partial: 'technical_resources/index',
                 locals: { technical_resources: dataset.technical_resources } %>
      <%#= render partial: 'technical_resources/form',
                 locals: { technical_resource: TechnicalResource.new } %>
    </div>
    <div class="dataset-distributions" style="border: 1px solid black;">
      <h3>Distributions</h3>
      <%#= render partial: 'distributions/index',
                 locals: { distributions: dataset.distributions } %>
      <%#= render partial: 'distributions/form',
                 locals: { distribution: Distribution.new } %>
    </div>
    <div class="dataset-metadata" style="border: 1px solid black;">
      <h3>Metadata</h3>
      <%#= render partial: 'metadata/index',
                 locals: { metadata: dataset.metadata } %>
      <%#= render partial: 'metadata/form',
                 locals: { metadatum: Metadatum.new } %>
    </div>
  </div>
-->

</div>
