<%# locals: model, path, method, form_partial %>

<div class="form-wrapper">
  <%= render partial: '/shared/registration_header' %>

  <%= form_with model: model, url: path, method: method do |f| %>
    <div class="t-step__fields">

      <%= render partial: form_partial, locals: { form: f, model: model } %>

      <%= f.submit 'Save' %>
      <div class="form-message">
        <% if flash[:notice].present? %>
          <span class="green"><%= flash[:notice] %></span>
        <% end %>
        <% if flash[:alert].present? %>
          <span class="red"><%= flash[:notice] %></span>
        <% end %>
        <% if model.errors.any? %>
          <%= render partial: '/shared/form_errors', locals: { model: model } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= render partial: '/shared/registration_footer', locals: { model: model } %>
</div>
