<%# locals: model %>
<%
case model.class.name
when 'Project'
  project = model
  data_management_plan = model.data_management_plan
when 'Award'

when 'DataManagementPlan'
  project = model.projects.first
  data_management_plan = model
end

current_path = request.path

if !%w[/projects/new].include?(current_path)
  if current_path.starts_with?('/project')
    next_href = awards_path(project_id: project.id)

  elsif current_path.starts_with?('/award')
    prev_href = edit_project_path(project)
    next_href = edit_data_management_plan_path(data_management_plan)

  elsif current_path.starts_with?('/dataset')
    prev_href = edit_data_management_plan_path(data_management_plan)

  else
    prev_href = awards_path(project_id: project.id)
    next_href = datasets_path
  end
end
%>

<nav class="c-progress" aria-label="progress">
  <% if prev_href.present? %>
    <a id="prev-link" href="<%= prev_href %>">&lt; Previous</a>
  <% end %>

  <ol>
    <li<%= current_path.starts_with?('/project') ? ' aria-current=step' : '' %>>
      Project
    </li>
    <li<%= current_path.starts_with?('/award') ? ' aria-current=step' : '' %>>
      Funding
    </li>
    <li<%= current_path.starts_with?('/data_m') ? ' aria-current=step' : '' %>>
      DMP
    </li>
    <li<%= current_path.starts_with?('/dataset') ? ' aria-current=step' : '' %>>
      Datasets
    </li>
  </ol>

  <% if next_href.present? %>
    <a id="next-link" href="<%= next_href %>">Next &gt;</a>
  <% end %>
</nav>