<%# locals: data_management_plans, controller, action %>

<div  class="data-management-plans-table grid-table">
  <div class="table-header col-medium">DOI</div>
  <div class="table-header col-large">Title</div>
  <div class="table-header col-small">Funded?</div>
  <div class="table-header col-medium">Contact</div>
  <div class="table-header col-small">Updated</div>

  <% data_management_plans.each do |dmp| %>
    <div class="table-column">
      <% path = dmp.dois.any? || dmp.arks.any? ? landing_page_path_with_doi(dmp: dmp) : data_management_plan_path(dmp) %>
      <%= link_to path, path %>
    </div>
    <div class="table-column">
      <%= dmp.title.length > 49 ? "#{dmp.title[0..50]} ..." : dmp.title %>
    </div>
    <div class="table-column">
      <%= dmp.project.fundings.collect { |a| a.funded? }.first.to_s.camelize %>
    </div>
    <div class="table-column">
      <%= dmp.primary_contact.name %>
    </div>
    <div class="table-column">
      <%= safe_date(date: dmp.updated_at) %>
    </div>
  <% end %>

  <div class="table-nav">
    <% displayed = data_management_plans.limit_value %>
    <% total = data_management_plans.total_count %>
    Displaying <%= displayed > total ? total : displayed %> of <%= number_with_delimiter(total, delimiter: ',') %> DMPs
  </div>
  <div class="table-nav">
    <%= paginate data_management_plans,
                 remote: true,
                 params: { controller: controller, action: action } %>
  </div>
</div>
