<h2><%= @dmp.title %></h2>

<%= render partial: '/landing/data_management_plan',
           locals: { dmp: @dmp, project: @dmp.project } %>

<%= render partial: '/landing/abstract',
           locals: { dmp: @dmp, project: @dmp.project } %>

<%= render partial: '/landing/contact',
           locals: { dmp: @dmp } %>

<div id="accordion-data-management-plan" class="c-accordion">
  <% if @dmp.contributors_data_management_plans.any? %>
    <%= render partial: '/landing/contributors',
               locals: { cdmps: @dmp.contributors_data_management_plans } %>
  <% end %>
  <% if @dmp.project.fundings.any? %>
    <%= render partial: '/landing/fundings', locals: { fundings: @dmp.project.fundings } %>
  <% end %>
  <%= render partial: '/landing/ethics', locals: { dmp: @dmp } %>
  <%= render partial: '/landing/costs', locals: { dmp: @dmp } %>
  <%= render partial: '/landing/datasets', locals: { datasets: @dmp.datasets } %>
</div>
