<% primary_funder = LandingPresenter.primary_funder(data_management_plan: @dmp) %>
<h1>A data management plan for this project was submitted to the <%= primary_funder %> with the information below.</h1>
<h2><%= @dmp.title %></h2>

<!-- <div style="float: right"> -->
  <%#= image_tag('DMPTool_logo_blue_shades_v1b3b_no_tag.svg', alt: 'DMP Logo') %>

  <% base_message = 'This page represents key information from a data management plan' %>
  <% if @dmp.project.identifiers.last.present? %>
    <!-- <p><%#= base_message %> available <%#= link_to 'here', @dmp.project.identifiers.last.value %>.</p> -->
  <% else %>
    <!-- <p><%#= base_message %>.</p> -->
  <% end %>
<!-- </div> -->

<h3>Contributors to this project</h3>
<%= render partial: '/landing/contributors',
           locals: { primary_contact: @dmp.primary_contact, cdmps: @dmp.contributors_data_management_plans } %>

<hr>

<h3>Project details</h3>
<%= render partial: '/landing/data_management_plan', locals: { dmp: @dmp, project: @dmp.project } %>

<hr>

<h3>Citation</h3>

<strong>When citing this DMP use:</strong>
<p><%= citation(dmp: @dmp).html_safe %></p>

<strong>When connecting to this DMP to related project outputs (such as datasets) use the ID:</strong>
<p><%= link_to @dmp.doi&.value %></p>

<hr>

<h3>Funding status and sources for this project</h3>
<%= render partial: '/landing/fundings', locals: { fundings: @dmp.project.fundings } %>

<hr>

<h3>Project description</h3>
<%= render partial: '/landing/abstract',
           locals: { dmp: @dmp, project: @dmp.project } %>

<% if @dmp.datasets.any? %>
  <hr>

  <h3>Planned outputs</h3>
  <%= render partial: '/landing/datasets', locals: { datasets: @dmp.datasets } %>
<% end %>

<% relateds = LandingPresenter.related_publications(data_management_plan: @dmp) %>

<% if relateds.any? %>
  <hr>

  <h3>Other works associated with this research project</h3>
  <%= render partial: '/landing/published_works',
             locals: {
               publications: relateds.select { |r| r.citation.present? && r.citation.article_journal? },
               datasets: relateds.select { |r| r.citation.present? && r.citation.dataset? }
             } %>
<% end %>
