<%= render partial: '/landing/heading', locals: { dmp: @dmp } %>

<div class="t-step__content">
  <% if @dmp.contributors_data_management_plans.any? %>
    <h2>Contributors to this project</h2>
    <%= render partial: '/landing/contributors',
              locals: { primary_contact: @dmp.primary_contact, cdmps: @dmp.contributors_data_management_plans } %>
  <% end %>

  <h2>Project details</h2>
  <%= render partial: '/landing/data_management_plan', locals: { dmp: @dmp, project: @dmp.project } %>

  <h2>Citation</h2>
  <%= render partial: '/landing/citation', locals: { dmp: @dmp } %>

  <% if @dmp.project.fundings.any? %>
    <h2>Funding status and sources for this project</h2>
    <%= render partial: '/landing/fundings', locals: { fundings: @dmp.project.fundings } %>
  <% end %>

  <% if @dmp.description.present? || @dmp.project.description.present? %>
    <h2>Project description</h2>
    <%= render partial: '/landing/abstract',
              locals: { dmp: @dmp, project: @dmp.project } %>
  <% end %>

  <% if @dmp.datasets.any? %>
    <h2>Planned outputs</h2>
    <%= render partial: '/landing/datasets', locals: { datasets: @dmp.datasets } %>
  <% end %>

  <% relateds = LandingPresenter.related_publications(data_management_plan: @dmp) %>

  <% if relateds.any? %>
    <h2>Other works associated with this research project</h2>
    <%= render partial: '/landing/published_works',
              locals: { publications: relateds } %>
  <% end %>
</div>
