<h1>A data management plan for this project was submitted to the National Science Foundation with the information below.</h1>
<h2><%= @dmp.title %></h2>

<h3>Contributors</h3>
<%= render partial: '/landing/contributors',
           locals: { primary_contact: @dmp.primary_contact, cdmps: @dmp.contributors_data_management_plans } %>

<hr>

<h3>Project Details</h3>
<%= render partial: '/landing/data_management_plan', locals: { dmp: @dmp, project: @dmp.project } %>

<hr>

<h3>Funding</h3>
<%= render partial: '/landing/fundings', locals: { fundings: @dmp.project.fundings } %>

<hr>

<h3>Citation</h3>
<p><%= citation(dmp: @dmp).html_safe %></p>

<hr>

<h3>Abstract</h3>
<%= render partial: '/landing/abstract',
           locals: { dmp: @dmp, project: @dmp.project } %>

<% if @dmp.datasets.any? %>
  <hr>

  <h3>Anticipated Outputs</h3>
  <%= render partial: '/landing/datasets', locals: { datasets: @dmp.datasets } %>
<% end %>

<% relateds = LandingPresenter.related_publications(data_management_plan: @dmp) %>

<% if relateds.any? %>
  <hr>

  <h3>Published Works</h3>
  <%= render partial: '/landing/published_works',
             locals: {
               publications: relateds.select { |r| r.citation.present? && r.citation.article_journal? },
               datasets: relateds.select { |r| r.citation.present? && r.citation.dataset? }
             } %>
<% end %>
