<h2><%= @dmp.title %></h2>

<%= render partial: '/landing/data_management_plan',
           locals: { dmp: @dmp, project: @dmp.project } %>

<%= render partial: '/landing/abstract',
           locals: { dmp: @dmp, project: @dmp.project } %>

<%= render partial: '/landing/contact',
           locals: { dmp: @dmp } %>

<div id="accordion-data-management-plan" class="c-accordion">
  <% persons = @dmp.persons %>
  <% if persons.any? %>
    <%= render partial: '/landing/staff', locals: { persons: persons } %>
  <% end %>
  <% if @dmp.project.awards.any? %>
    <%= render partial: '/landing/awards', locals: { awards: @dmp.project.awards } %>
  <% end %>
  <%= render partial: '/landing/ethics', locals: { dmp: @dmp } %>
  <%= render partial: '/landing/costs', locals: { dmp: @dmp } %>
  <%= render partial: '/landing/datasets', locals: { datasets: @dmp.datasets } %>
</div>
