<h2><%= @dmp.title %></h2>

<h3>Contributors</h3>
<%= render partial: '/landing/contributors',
           locals: { primary_contact: @dmp.primary_contact, cdmps: @dmp.contributors_data_management_plans } %>

<hr>

<h3>Project Details</h3>
<%= render partial: '/landing/data_management_plan', locals: { dmp: @dmp, project: @dmp.project } %>

<hr>

<h3>Funding</h3>
<%= render partial: '/landing/fundings', locals: { fundings: @dmp.project.fundings } %>

<hr>

<h3>Citation</h3>

<hr>

<h3>Abstract</h3>
<%= render partial: '/landing/abstract',
           locals: { dmp: @dmp, project: @dmp.project } %>

<% if @dmp.datasets.any? %>
  <hr>

  <h3>Datasets</h3>
  <%= render partial: '/landing/datasets', locals: { datasets: datasets } %>
<% end %>

<% relateds = LandingPresenter.related_publications(data_management_plan: @dmp) %>

<% if relateds.any? %>
  <hr>

  <h3>Related Works</h3>

  <ul class="landing-list">
    <% relateds.each do |related| %>
      <li><%= identifier_to_link(identifier: related) %></a></li>
    <% end %>
  </ul>
<% end %>
