<% presenter = DatacitePresenter.new(data_management_plan) %>

_target: <%= Rails.application.routes.url_helpers.data_management_plan_url(data_management_plan) %>
datacite: <?xml version="1.0" encoding="UTF-8"?>
  <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4.3/metadata.xsd">
      <identifier identifierType="DOI">(:tba)</identifier>
      <creators>
        <% presenter.creators.each do |creator| %>
          <creator>
              <creatorName nameType="Personal"><%= creator.name_last_first %></creatorName>
              <% if creator.orcids.any? %>
                <nameIdentifier schemeURI="http://orcid.org/" nameIdentifierScheme="ORCID"><%= creator.orcids.last.value %></nameIdentifier>
              <% end %>
              <% if creator.affiliation.present? && creator.affiliation.rors.any? %>
                <affiliation affiliationIdentifier="<%= creator.affiliation.rors.last.value %>" affiliationIdentifierScheme="ROR"><%= creator.affiliation.name %></affiliation>
              <% end %>
          </creator>
        <% end %>
      </creators>
      <titles>
          <title xml:lang="en-US"><%= presenter.scrub(data_management_plan.title) %></title>
      </titles>
      <publisher xml:lang="en">DMPHub</publisher>
      <publicationYear><%= Time.now.year %></publicationYear>
      <contributors>
          <% presenter.contributors.each do |cdmp| %>
            <% contributor = cdmp.contributor %>
            <contributor contributorType="<%= presenter.role_for(cdmp) %>">
                <contributorName><%= contributor.name_last_first %></contributorName>
                <% if contributor.orcids.any? %>
                  <nameIdentifier schemeURI="http://orcid.org/" nameIdentifierScheme="ORCID"><%= contributor.orcids.last.value %></nameIdentifier>
                <% end %>
                <% if contributor.affiliation.present? && contributor.affiliation.rors.any? %>
                  <affiliation affiliationIdentifier="<%= contributor.affiliation.rors.last.value %>" affiliationIdentifierScheme="ROR"><%= contributor.affiliation.name %></affiliation>
                <% end %>
            </contributor>
          <% end %>
      </contributors>
      <language>en-US</language>
      <resourceType resourceTypeGeneral="Text">DataManagementPlan</resourceType>
      <descriptions>
          <description xml:lang="en-US" descriptionType="Abstract">
              <%= presenter.scrub(data_management_plan.description) %>
          </description>
      </descriptions>
      <% if data_management_plan.project.fundings.any? %>
        <fundingReferences>
            <% data_management_plan.project.fundings.each do |funding| %>
              <fundingReference>
                  <funderName><%= funding.affiliation.name %></funderName>
                  <% if funding.affiliation.fundrefs.any? %>
                    <funderIdentifier funderIdentifierType="Crossref Funder ID"><%= funding.affiliation.fundrefs.last.value %></funderIdentifier>
                  <% end %>
                  <% if funding.affiliation.rors.any? %>
                    <funderIdentifier funderIdentifierType="ROR"><%= funding.affiliation.rors.last.value %></funderIdentifier>
                  <% end %>
                  <% if funding.funded? %>
                    <% if funding.urls.any? %>
                      <awardNumber><%= funding.urls.last.value %></awardNumber>
                    <% else %>
                      <awardNumber><%= funding.identifiers.last.value %></awardNumber>
                    <% end %>
                    <awardTitle><%= presenter.scrub(data_management_plan.title) %></awardTitle>
                  <% end %>
              </fundingReference>
            <% end %>
        </fundingReferences>
      <% end %>
  </resource>
