<%# The EZID ANVL parser is really whiny about the alignment/layout and the whitespace
    in general of the Datacite XML bit. Be extremely careful when editing the file %>
<% presenter = DatacitePresenter.new(data_management_plan) %>
_target: <%= presenter.landing_page %>
datacite: <?xml version="1.0" encoding="UTF-8"?>
  <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4.4/metadata.xsd">
    <% if data_management_plan.doi.present? %>
    <% value = data_management_plan.doi_without_prefix&.gsub('doi:', '').gsub('ark:', '') %>
    <identifier identifierType="<%= data_management_plan.doi.category.upcase %>"><%= value %></identifier>
    <% else %>
    <identifier identifierType="DOI">(:tba)</identifier>
    <% end %>
    <creators>
      <% presenter.creators.each do |creator| %>
      <creator>
        <creatorName nameType="Personal"><%= creator.name %></creatorName>
        <% if creator.orcids.any? %>
        <nameIdentifier schemeURI="https://orcid.org/" nameIdentifierScheme="ORCID">
          <%= creator.orcids.last.value %>
        </nameIdentifier>
        <% end %>
        <% if creator.affiliation.present? && creator.affiliation.rors.any? %>
        <affiliation affiliationIdentifier="<%= creator.affiliation.rors.last.value %>" affiliationIdentifierScheme="ROR">
          <%= presenter.affiliation_name_without_contextual(name: creator.affiliation.name) %>
        </affiliation>
        <% end %>
      </creator>
      <% end %>
    </creators>
    <titles>
      <title xml:lang="en-US"><%= presenter.scrub(data_management_plan.title) %></title>
    </titles>
    <publisher xml:lang="en-US">DMPHub</publisher>
    <publicationYear><%= Time.now.year %></publicationYear>
    <contributors>
      <% presenter.producers.each do |producer| %>
      <contributor contributorType="Producer">
        <contributorName nameType="Organizational">
          <%= presenter.affiliation_name_without_contextual(name: producer.name) %>
        </contributorName>
        <% if producer.rors.any? %>
        <nameIdentifier nameIdentifierScheme="ROR"><%= producer.rors.last.value %></nameIdentifier>
        <% end %>
      </contributor>
      <% end %>
      <% presenter.contributors.each do |cdmp| %>
      <% contributor = cdmp.contributor %>
      <contributor contributorType="<%= presenter.role_for(cdmp) %>">
        <contributorName nameType="Personal"><%= contributor.name %></contributorName>
        <% if contributor.orcids.any? %>
        <nameIdentifier nameIdentifierScheme="ORCID" schemeURI="https://orcid.org/"><%= contributor.orcids.last.value %></nameIdentifier>
        <% end %>
        <% if contributor.affiliation.present? && contributor.affiliation.rors.any? %>
        <affiliation affiliationIdentifier="<%= contributor.affiliation.rors.last.value %>" affiliationIdentifierScheme="ROR">
          <%= presenter.affiliation_name_without_contextual(name: contributor.affiliation.name) %>
        </affiliation>
        <% end %>
      </contributor>
      <% end %>
      <% data_management_plan.sponsors.each do |sponsor| %>
      <contributor contributorType="Sponsor">
        <contributorName nameType="<%= sponsor.name_type.humanize %>"><%= sponsor.name %></contributorName>
        <% if sponsor.rors.any? %>
        <nameIdentifier nameIdentifierScheme="ROR"><%= sponsor.rors.last.value %></nameIdentifier>
        <% end %>
        <% if sponsor.orcids.any? %>
        <nameIdentifier nameIdentifierScheme="ORCID" schemeURI="https://orcid.org/"><%= sponsor.orcids.last.value %></nameIdentifier>
        <% end %>
      </contributor>
      <% end %>
    </contributors>
    <language>en-US</language>
    <resourceType resourceTypeGeneral="OutputManagementPlan">Data Management Plan</resourceType>
    <descriptions>
      <description xml:lang="en-US" descriptionType="Abstract">
        <%= presenter.scrub(data_management_plan.description) %>
      </description>
    </descriptions>
    <% if data_management_plan.project.fundings.any? %>
    <fundingReferences>
      <% data_management_plan.project.fundings.each do |funding| %>
      <fundingReference>
        <funderName><%= presenter.affiliation_name_without_contextual(name: funding.affiliation.name) %></funderName>
        <% if funding.affiliation.fundrefs.any? %>
        <funderIdentifier funderIdentifierType="Crossref Funder ID"><%= funding.affiliation.fundrefs.last.value %></funderIdentifier>
        <% end %>
        <% if funding.funded? %>
        <% if funding.urls.any? %>
        <awardNumber awardURI="<%= funding.urls.last.value %>"><%= presenter.award_number(funding: funding) %></awardNumber>
        <% else %>
        <awardNumber><%= funding.identifiers.last.value %></awardNumber>
        <% end %>
        <awardTitle><%= presenter.scrub(data_management_plan.title) %></awardTitle>
        <% end %>
      </fundingReference>
      <% end %>
    </fundingReferences>
    <% end %>
    <% if presenter.related_identifiers.any? || data_management_plan.datasets.any? %>
    <relatedIdentifiers>
      <% presenter.related_identifiers.each do |identifier| %>
      <relatedIdentifier relationType="<%= presenter.relation_type(identifier: identifier) %>" relatedIdentifierType="<%= presenter.related_identifier_type(identifier: identifier) %>">
        <%= identifier.value %>
      </relatedIdentifier>
      <% end %>
      <% data_management_plan.datasets.each do |dataset| %>
      <% next unless dataset.dois.any? %>
      <relatedIdentifier relationType="IsSupplementTo" relatedIdentifierType="URL">
        <%= dataset.dois.last.value %>
      </relatedIdentifier>
      <% end %>
    </relatedIdentifiers>
    <% end %>
  </resource>
