<% presenter = DatacitePresenter.new(data_management_plan) %>

_target: <%= presenter.landing_page %>
datacite: <?xml version="1.0" encoding="UTF-8"?>
  <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4.3/metadata.xsd">
    <identifier identifierType="DOI">(:tba)</identifier>

    <creators>
      <% presenter.creators.each do |creator| %>
        <%= render partial: 'ezid/creator', locals: { creator: creator } %>
      <% end %>
    </creators>

    <titles>
      <title xml:lang="en-US"><%= presenter.scrub(data_management_plan.title) %></title>
    </titles>

    <publisher xml:lang="en">DMPHub</publisher>
    <publicationYear><%= Time.now.year %></publicationYear>

    <contributors>
      <%= render partial: 'ezid/contributor',
                 locals: { contributor: presenter.hosting_institution, type: 'HostingInstitution' } %>

      <% if presenter.producers.any? %>
        <% presenter.producers.each do |producer| %>
          <%= render partial: 'ezid/contributor',
                     locals: { contributor: producer, type: 'Producer' } %>
        <% end %>
      <% end %>

      <% presenter.contributors.each do |cdmp| %>
        <% contributor = cdmp.contributor %>
        <%= render partial: 'ezid/contributor',
                   locals: { contributor: cdmp.contributor, type: presenter.role_for(cdmp) } %>
      <% end %>
    </contributors>

    <language>en-US</language>

    <resourceType resourceTypeGeneral="Text">Data Management Plan</resourceType>

    <descriptions>
      <description xml:lang="en-US" descriptionType="Abstract">
        <%= presenter.scrub(data_management_plan.description) %>
      </description>
    </descriptions>

    <% if data_management_plan.project.fundings.any? %>
      <fundingReferences>
        <% data_management_plan.project.fundings.each do |funding| %>
          <%= render partial: 'ezid/funding_reference',
                     locals: { presenter: presenter, funding: funding, title: data_management_plan.title } %>
        <% end %>
      </fundingReferences>
    <% end %>
  </resource>
