<header class="c-header">
  <!-- <a class="c-logo" href="/"><%#= image_tag 'icon_orcid.svg', alt: 'DMP Hub logo', style: 'height: 50px;' %></a> -->

  <nav>
    <% if user_signed_in? %>
      <% if current_user.super_user? %>
        <%= link_to 'Admin', admin_path %>
      <% end %>
      <%= link_to 'Dashboard', dashboard_path %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Home', root_path %>
      <%= link_to 'FAQ', faq_path %>
      <%#= link_to 'Log in / Sign up', login_path %>
    <% end %>
  </nav>
</header>
