<!DOCTYPE html>
<html>
  <head>
    <title>Dmphub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="t-step">
      <%= render partial: 'layouts/header' %>

      <main>
        <div class="notifications">
          <% if flash[:alert].present? %>
            <span class="notification-alert"><%= flash[:alert] %></span>
          <% end %>
          <% if flash[:notice].present? %>
            <span class="notification-notice"><%= flash[:alert] %></span>
          <% end %>
        </div>

        <%= yield %>
      </main>

      <%= render partial: 'layouts/footer' %>
    </div>

  </body>
</html>
